.footer {
  margin-top: 80px;
  color: #222222;
  text-align: center;
  clear: both;
  border-top: 1px solid #e5e5e5;

  .footer-links {
    padding-left: 0;
    margin-top: 7px;

    li {
      display: inline;
      padding: 0 2px;
    }

    a {
      color: #8c989e;

      &:hover, &:active, &:focus {
        color: #4bc970;
      }
    }
  }
}
