@import "components/flash";
@import "components/footer";

body {
  padding-top: 70px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

a {
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}
