.users
  .thumbnail
    text-align: center
    ul
      margin-top: 15px
      padding-left: 0
    li
      list-style: none
      font-size: 16px
      margin-bottom: 5px

.users--user
  border-radius: 4px
  margin-bottom: 15px
  background-color: #fff
  padding: 15px 20px
  .users--user__avatar
    padding: 4px
    background-color: #fff
    border: 1px solid #ddd
    border-radius: 4px
  .label
    display: inline-block
    font-size: 12px

.activity
  .activity--time
    vertical-align: middle
    font-size: 12px
    font-weight: bold
  .fa
    vertical-align: middle
    margin-right: 5px
